@media screen and (min-width: 1440px)  {
    .header__menu-btn{
        display: none;
    }
}

@media screen and (max-width: 1440px)  {
    .header__menu-btn{
        display: none;
    }

    .main__arrow{
        bottom: 70px;
    }
}

@media screen and (max-width: 1332px)  {
    .main__arrow{
        right: 5px;
    }
}

@media screen and (max-width: 1230px)  {
    .hero{
        padding-left: 44px;
    }
    
    

}

@media screen and (max-width: 980px) {
    .hero__data{
       

    }

    .hero__title{
        text-align: start;
    }

    .hero__img{
        /* left: -40px; */
    }

    
}

@media screen and (max-width: 939px) {
    .footer__logo{
        flex: 0;
    }

    .footer__content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .footer__menu ul{
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
    }

    .main__arrow{
        bottom: 200px;
    }
}

@media screen and (max-width: 972px) {
    
    .header__logo{
        margin-right: auto;
    }

    .header__btn-menu{
        display: block;
    }
}

/* ------------------header__btn-menu----------- */

@media screen and (max-width: 972px) {
    .header__menu{
        display: none;
    }


    .header__btn-menu.active {
        background: linear-gradient(#313f4b 0%, #313f4b 20%, #19232d 97%);
      }
    
      .header__btn-menu svg {
        display: block;
        margin: 0;
      }
    
      .header__btn-menu svg rect {
        transform-origin: 50% 50%;
        transition: all 0.5s;
      }
    
      .header__btn-menu.active svg rect:nth-child(1) {
        x: -2px;
        y: 6px;
        width: 20px;
        transform: rotate(225deg);
      }
    
      .header__btn-menu.active svg rect:nth-child(3) {
        opacity: 0;
      }
    
      .header__btn-menu.active svg rect:nth-child(2) {
        x: -2px;
        y: 6px;
        width: 20px;
        transform: rotate(135deg);
      }
    
      .header__menu {
        display: none;
        position: fixed;
        top: 65px;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
    
        background: linear-gradient(#313f4b 0%, #313f4b 20%, #19232d 97%);
        text-align: center;
        z-index: 100;
        transition: height 0.5s ease, opacity 0.5s ease;
        opacity: 0;
        padding: 50px;
      }
    
      .header__menu.active {
        display: block;
        height: 100vh;
        opacity: 1;
      }
    
      .header {
        z-index: 101;
      }
    
      .header__menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 40px;
      }
      .header__menu ul li a {
        position: relative;
        font-size: 28px;
        padding: 10px 40px;
        white-space: nowrap;
    
      }
    

/* ------------------------------------- */


}

@media screen and (max-width: 876px) {
    .hero__img{
  left:  150px;
  width: 80%;
    }

    .hero__data{
        padding: 10px;
        border-radius: 16px;
        background: rgba(0,0,0,0.3);
    }
}

@media screen and (max-width: 715px) {
    .hero__img{
  
  width: 70%;
    }}

@media screen and (max-width: 662px){
   .outline{
    display: none;
   }

   .header__menu-btn {
    display: inline-block;
   }

   .header__menu-btn a{
    display: block;
    min-width: 200px;
      
     margin-top: 20px;
    white-space: wrap;

  }

  a.outline.header__menu-outline{
    margin-right: 0;
  }

  .hero__img{
   
 right: 0;}

 .advantages__list{
    display: block;
 }
  
 .advantages__list li{
    width: 100%;
 }

 .advantages__list li + li{
    margin-top: 16px;
 }
} 

@media screen and (max-width: 662px){
    .hero__img{
        left:  0;
        width: 100%;
  
    } 
    .hero{
        padding: 20px;
    }
}

@media screen and (max-width: 640px){
    .main__arrow{
        bottom: 220px;
    }

   .article__button{
    display: block; 
        width: 180px;
    margin-right: auto;
  margin-left: auto;}

  .h2, .title.high{
    font-size: 22px;
    line-height: 26px;
  }
}



    
@media screen and (max-width: 466px){
    .header__button{
     display: none;
    }

    .hero__title{
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    
   }

   .hero__data{
    text-align: center;
   }
   .hero__button{
    margin-left: auto;
   }

  .title.faq__subtitle{
    font-size: 18px;
    
    
   }

   
 } 



 @media screen and (max-width: 435px){
    .title.faq__subtitle{
        font-size: 16px;
        
        
        
       }
 }

 @media screen and (max-width: 403px){
    .main__arrow{
     bottom:250px;
    }
 }